<%= render 'error_messages' %> <%# Afficher les erreurs %>
<div class="d-flex flex-row login-container">

    <div class="login-bg">
    </div>

    <div class="login-pane flex-fill">
    <div class="login-form d-flex flex-column">
        <h5 class="my-2">Connectez-vous à Avito</h5>
        <span class="legende">Vous pouvez utiliser l'authentification rapide avec votre compte Facebook ou Gmail.</span>
        <div class="d-flex flex-row justify-content-around">
            <button class="btn ext-login  my-4"><%= image_tag "google.svg", class:"ext-login-logo" %> Se connecter</button>
            <button class="btn ext-login  my-4"><%= image_tag "facebook.svg", class: "ext-login-logo" %> Se connecter</button>
        </div>

        <div class="ou-bien text-center mb-4">OU BIEN</div>


        <%= form_for(@utilisateur, :html => {class: "form-horizontal", role:"form"}) do |f| %>
        <div class="legende my-3">Entrez vos coordonnées ci-dessous</div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Nom" %>
                </div>
                <div class="col">
                <%= f.text_field :nom, class:"form-control",  placeholder:"Nom"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Email" %>
                </div>
                <div class="col">
                <%= f.email_field :email, class:"form-control",  placeholder:"email"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Telephone" %>
                </div>
                <div class="col">
                <%= f.text_field :telephone, class:"form-control",  placeholder:"telephone"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Mot de passe" %>
                </div>
                <div class="col">
                    <%= f.password_field :password , class:"form-control",  placeholder:"Mot de passe"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Confirmer le mot de passe" %>
                </div>
                <div class="col">
                <%= f.password_field :password_confirmation, class:"form-control",  placeholder:"Confirmer le mot de passe"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col control-label">
                    <%= f.label "Ville" %>
                </div>
                <div class="col">
                <%= f.text_field :ville, class:"form-control",  placeholder:"Ville"%>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <%= f.submit "Creer un compte", class: "btn btn-primary btn-block" %>
                </div>
            </div>
        <% end %>

        <p>Vous avez deja un compte ? <%= link_to "Se connecter.", "login" %></p>
    </div>
    </div>


</div>
