<%= render 'error_messages' %> <%# Afficher les erreurs %>
<div class="d-flex flex-row login-container">

    <div class="login-bg">
    </div>

    <div class="login-pane flex-fill">
    <div class="login-form d-flex flex-column">
        <h5 class="my-2">Connectez-vous à Avito</h5>
        <span class="legende">Vous pouvez utiliser l'authentification rapide avec votre compte Facebook ou Gmail.</span>
        <div class="d-flex flex-row justify-content-around">
            <button class="btn ext-login  my-4"><%= image_tag "google.svg", class:"ext-login-logo" %> Se connecter</button>
            <button class="btn ext-login  my-4"><%= image_tag "facebook.svg", class: "ext-login-logo" %> Se connecter</button>
        </div>

        <div class="ou-bien text-center mb-4">OU BIEN</div>

        <%= render 'form' ,utilisateur: @utilisateur %>

        <p>Vous avez deja un compte ? <%= link_to "Se connecter.", "login" %></p>
    </div>
    </div>


</div>
