<div class="container">

<ul class="nav nav-tabs mt-3" role="tablist">
  <li class="nav-item" role="presentation">
      <% if params[:tab] == "annonces" || !params[:tab]%>
      <%= link_to 'Mes annonces', {:controller => :utilisateurs, :action => :show, :tab => 'annonces'},  {class: "nav-link active"} %>
      <%else%>
      <%= link_to 'Mes annonces', {:controller => :utilisateurs, :action => :show, :tab => 'annonces'},  {class: "nav-link"} %>
      <%end%>
  </li>
  <li class="nav-item" role="presentation">
      <% if params[:tab] == "favoris"%>
      <%= link_to 'Mes favoris', {:controller => :utilisateurs, :action => :show, :tab => 'favoris'},  {class: "nav-link active"} %>
      <%else%>
      <%= link_to 'Mes favoris', {:controller => :utilisateurs, :action => :show, :tab => 'favoris'},  {class: "nav-link"} %>
      <%end%>
  </li>
  <li class="nav-item" role="presentation">
    <% if params[:tab] == "commandes"%>
      <%= link_to 'Mes commandes', {:controller => :utilisateurs, :action => :show, :tab => 'commandes'},  {class: "nav-link active"} %>
      <%else%>
      <%= link_to 'Mes commandes', {:controller => :utilisateurs, :action => :show, :tab => 'commandes'},  {class: "nav-link"} %>
      <%end%>

  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Réglages', edit_utilisateur_path(utilisateur_courant)  ,class: "nav-link" %>
  </li>
</ul>

<div class="profile-container">
  <% if params[:tab] == "annonces" || !params[:tab]%>
      <% if @utilisateur.annonces.any? %>
        <h4>Vos annonces : (<%= @utilisateur.annonces.count %>)</h4>
        <div class="d-flex flex-wrap my-4">
        <% @annonces.each do |annonce| %>
            <%= render :partial => 'layouts/big_card', :locals => { :@annonce => annonce } %>
        <%end%>
        </div>
      <% else %>
        <div>Vous n'avez publié aucune annonce.</div>
      <% end %>


  <% end %>

  <% if params[:tab] == "favoris"%>
  <% if @utilisateur.favoris.any? %>
        <h4>Vos favoris : (<%= @utilisateur.favoris.count %>)</h4>
        <div class="d-flex flex-wrap my-4">
        <% Annonce.all.each do |annonce| %>
        <% if @utilisateur.favoris.exists?(annonce_id: annonce.id) %>
            <%= render :partial => 'layouts/big_card', :locals => { :@annonce => annonce } %>
             <%end%>
        <%end%>
        </div>
      <% else %>
        <div>Vous n'avez aucune annonce favorites.</div>
      <% end %>
  <%end%>


  <% if params[:tab] == "commandes"%>
    <% if @utilisateur.commandes.any? %>
        <h4>Vos commandes : (<%= @utilisateur.commandes.count %>)</h4>
        <div class="d-flex flex-column my-4">
        <% @commandes.each do |commande| %>
            <%= render :partial => 'commandes/card', :locals => { :@commande => commande } %>

        <%end%>
        </div>
      <% else %>
        <div>Vous n'avez passé aucune commande.</div>
      <% end %>
  <%end%>



</div>
</div>
