<%= form_with(model: commande) do |form| %>
  <% if commande.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commande.errors.count, "error") %> dans l'envoi de la demande :</h2>

      <ul>
        <% commande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Nom et prénom :" %>
      <%= form.text_field :nom , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Email :" %>
      <%= form.text_field :email , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Téléphone :" %>
      <%= form.text_field :telephone , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Adresse de livraison :" %>
      <%= form.text_field :adresse , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Méthode de paiement :" %>
      <%= form.text_field :methode_paiement , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Prix :" %>
      <%= form.text_field :prix , class:"form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col control-label">
      <%= form.label "Id annonce :" %>
      <%= form.text_field :annonce_id , class:"form-control"%>
    </div>
  </div>


  <%
=begin%>
 <%= form.hidden_field :annonce_id, value: params[:annonce_id] %> 
<%
=end%>

  <%
=begin%>
 <div class="field">
    <%= form.label :utilisateur_id %>
    <%= form.text_field :utilisateur_id %>
  </div> 
<%
=end%>

  <%
=begin%>
 <div class="field">
    <%= form.label :annonce_id %>
    <%= form.text_field :annonce_id %>
  </div> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
