<p id="notice"><%= notice %></p>

<h1>Commandes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Adresse</th>
      <th>Methode paiement</th>
      <th>Prix</th>
      <th>Utilisateur</th>
      <th>Annonce</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commandes.each do |commande| %>
      <tr>
        <td><%= commande.nom %></td>
        <td><%= commande.email %></td>
        <td><%= commande.telephone %></td>
        <td><%= commande.adresse %></td>
        <td><%= commande.methode_paiement %></td>
        <td><%= commande.prix %></td>
        <td><%= commande.utilisateur_id %></td>
        <td><%= commande.annonce_id %></td>
        <td><%= link_to 'Show', commande %></td>
        <td><%= link_to 'Edit', edit_commande_path(commande) %></td>
        <td><%= link_to 'Destroy', commande, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commande', new_commande_path %>
