<%= render 'layouts/search_form' %>

<section class="pt-4 pb-3">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">Nouvelles annonces d'immobilier </h4>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-light btn-carousel mb-3 mr-3" href="#carouselImmobilier" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-light btn-carousel mb-3 " href="#carouselImmobilier" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselImmobilier" class="carousel slide" >

                <div class="carousel-inner">

                    <%= @annonces_immobilier.each_slice(4).with_index do |batch, index| %>

                    <div class="carousel-item <% if(index == 0) %> active <% end %>">
                        <div class="row px-2">

                        <% batch.each do |annonce| %>
                            <%= render :partial => 'layouts/mini_card', :locals => { :@annonce => annonce } %>
                        <% end %> 

                        </div>
                    </div>
                    <% end %>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="py-3">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">Nouvelles annonces de véhicules </h5>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-light btn-carousel mb-3 mr-3" href="#carouselVehicules" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-light btn-carousel mb-3 " href="#carouselVehicules" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselVehicules" class="carousel slide" >
                <div class="carousel-inner">

                    <%= @annonces_vehicules.each_slice(4).with_index do |batch, index| %>

                    <div class="carousel-item <% if(index == 0) %> active <% end %>">
                        <div class="row px-2">

                        <% batch.each do |annonce| %>
                            <%= render :partial => 'layouts/mini_card', :locals => { :@annonce => annonce } %>
                        <% end %> 

                        </div>
                    </div>
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section class="py-3">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">Nouvelles annonces de loisirs </h5>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-light btn-carousel mb-3 mr-3" href="#carouselLoisirs" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-light btn-carousel mb-3 " href="#carouselLoisirs" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselLoisirs" class="carousel slide" >
                <div class="carousel-inner">

                    <%= @annonces_loisirs.each_slice(4).with_index do |batch, index| %>

                    <div class="carousel-item <% if(index == 0) %> active <% end %>">
                        <div class="row px-2">

                        <% batch.each do |annonce| %>
                            <%= render :partial => 'layouts/mini_card', :locals => { :@annonce => annonce } %>
                        <% end %> 

                        </div>
                    </div>
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>
