<%= form_with(model: sub_category) do |form| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
        <% sub_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col control-label mb-2">
      <%= form.label "Nom :" %>
      <%= form.text_field :nom , class:"form-control"%>
    </div>

    <div class="col control-label">
      <%= form.label "Catégorie :" %>
      <%= form.select(:category_id, options_for_select((Category.all.map { |category| [category.nom, category.id]})), {}, {class: "form-control"}) %>
    </div>


  <br/>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
    <%= form.submit "Enregistrer" , class: "btn btn-primary"%>
  </div>

</div>
<% end %>