<%= form_with(model: annonce) do |form| %>
  <% if annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
        <% annonce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="col control-label">
    <%= form.label :titre %>
    </div>
    <div class="col">
    <%= form.text_field :titre , class:"form-control"%>
  </div>
</div>
<div class="form-group">
  <div class="col control-label">
    <%= form.label :ville %>
    </div>
    <div class="col">
    <%= form.text_field :ville ,class:"form-control"%>
  </div>
</div>
<div class="form-group">
  <div class="col control-label">
    <%= form.label :date %>
    </div>
    <div class="col">
    <%= form.text_field :date ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label :adresse %>
    </div>
    <div class="col">
    <%= form.text_field :adresse ,class:"form-control"%>
  </div>
</div>
<div class="form-group">
  <div class="col control-label">
    <%= form.label :images %>
    </div>
    <div class="col">
    <%= form.file_field :images ,class:"form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label :prix %>
    <%= form.text_field :prix ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label :annonce_type %>
    <%= form.text_field :annonce_type ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label :secteur %>
    <%= form.text_field :secteur ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label :description %>
    <div class="col">
    <%= form.text_area :description , class:"form-control"%>
  </div>
</div>

<div class"form-group">
  <div class="col-sm-offset-2 col-sm-5">
    <%= form.submit "Creer une annonce" , class: "btn btn-primary btn-block"%>
  </div>

  </div>
<% end %>
