<%= form_with(model: annonce) do |form| %>

<% if annonce.errors.any? %>
                <div class="alert" id="error_explanation">
                <h2><%= pluralize(annonce.errors.count, "erreur") %> dans l'envoi de la demande :</h2>

                <ul>
                    <% annonce.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
                </div>
<% end %>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Titre :" %>
    <%= form.text_field :titre , class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Catégorie :" %>
      <%= form.select(:category_id, options_for_select((Category.all.map { |category| [category.nom, category.id]})),
      {}, {class: "form-control"}) %>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Sous-catégorie :" %>

      <%= form.select(:sub_category_id, options_for_select((SubCategory.all.map { |sub_category| [sub_category.nom, sub_category.id] })),
      {}, {class: "form-control"}) %>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
  <%= form.label "Type de l'annonce :" %>
    <%
=begin%>
 
    <%= form.text_field :annonce_type ,class:"form-control"%> 
<%
=end%>
<%= form.select(:annonce_type, ['Achat', 'Vente', 'Location'], {}, { :class => 'form-control' }) %>

    <%
=begin%>
 <select class="form-control" name="annonce_type" id="annonce_type">
      <option>Achat</option>
      <option>Vente</option>
      <option>Location</option>
    </select> 
<%
=end%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Prix :" %>
    <div class="d-flex flex-row align-items-center">
      <%= form.text_field :prix ,class:"form-control col-md-7"%>
      <div class="col-md-5">Dhs</div>
      </div>

  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Ville :" %>
    <%= form.text_field :ville ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Adresse :" %>
    <%= form.text_field :adresse ,class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col control-label">
    <%= form.label "Télécharger une image :" %>
    
    <%= form.file_field :image ,class:"form-control-file" %>
  </div>
</div>


<div class="form-group">
  <div class="col control-label">
    <%= form.label :description %>
  </div>
  <div class="col">
    <%= form.text_area :description , class:"form-control"%>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-5">
    <%= form.submit "Enregistrer" , class: "btn btn-primary btn-block"%>
  </div>

</div>
<% end %>
