<p id="notice"><%= notice %></p>

<h1>Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Ville</th>
      <th>Catégorie</th>
      <th>Image</th>
      <th>Prix</th>
      <th>Type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.titre %></td>
        <td><%= annonce.ville %></td>
        <td><%= annonce.category.nom %></td>
        <td><%= image_tag annonce.image_url if annonce.image %></td>
        <td><%= annonce.prix %></td>
        <td><%= annonce.annonce_type %></td>
        <td><%= annonce.description %></td>
        <td><%= link_to 'Show', annonce %></td>
        <td><%= link_to 'Edit', edit_annonce_path(annonce) %></td>
        <td><%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annonce', new_annonce_path %>
