p id="notice"><%= notice %></p>

<h1>Favoris</h1>

<table>
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Annone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favoris.each do |favori| %>
      <tr>
        <td><%= favori.utilisateur_id %></td>
        <td><%= favori.annone_id %></td>
        <td><%= link_to 'Show', favori %></td>
        <td><%= link_to 'Edit', edit_favori_path(favori) %></td>
        <td><%= link_to 'Destroy', favori, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favori', new_favori_path %>
