<p id="notice"><%= notice %></p>

<p>
  <strong>Utilisateur:</strong>
  <%= @favori.utilisateur_id %>
</p>

<p>
  <strong>Annone:</strong>
  <%= @favori.annone_id %>
</p>

<%= link_to 'Edit', edit_favori_path(@favori) %> |
<%= link_to 'Back', favoris_path %>
