<div class="col-md-4">
    <div class="card border-0 big-card">
        <img class="card-img-top" src=<%= @annonce.image_url %>>
               
        <div class="card-body">
            <h4 class="card-title"><%= @annonce.prix ? @annonce.prix.to_i.to_s+" Dhs" : "Prix non spécifié" %></h4>
            <p class="card-text"><%= @annonce.titre.truncate(30) %></p>
            <p class="info"><%= @annonce.sub_category.nom if @annonce.sub_category %></p>
            <p class="info"><%= @annonce.ville %></p>

        </div>

    </div>
</div>