<div class="col-md-4">
    <div class="card border-0 big-card">
        <img class="card-img-top img-fluid" src=<%= @annonce.image_url %>>
               
        <div class="card-body">
            <h4 class="card-title"><%= @annonce.prix ? @annonce.prix.to_i.to_s+" Dhs" : "Prix non spécifié" %></h4>
            <div class="card-text"><%= @annonce.titre.truncate(30) %></div>
            <div class="info">
                <div><%= @annonce.sub_category.nom if @annonce.sub_category %></div>
                <div class="row">
                    <div class="info"><%= @annonce.ville if @annonce.ville %></div>
                </div>
            </div>

        </div>

    </div>
</div>