<%= form_with url:search_path, :method => "get" do |form| %>
<div class="search-container container">

    
    <div class="row d-flex align-items stretch">
        <div class="form-group col-4">
            <%= form.search_field :search, placeholder: "Tapez une recherche", class: "form-control" %>
        </div>

        <div class="form-group col">
            <%= form.select(:category_id, options_for_select((Category.all.map { |category| [category.nom, category.id]}).unshift(["Toutes les categories", ""])),
            {}, {class: "form-control"}) %>
        </div>

        
        <div class="form-group col">
            <%= form.select(:sub_category_id, options_for_select((SubCategory.all.map { |sub_category| [sub_category.nom, sub_category.id] }).unshift(["Toutes les sous-catégories", ""])),
            {}, {class: "form-control"}) %>
        </div> 
        
    </div>

    <div class="row d-flex justify-content-center">
        <div class="form-group col-4">
            <%= form.search_field :ville, placeholder: "Toutes les villes...", class: "form-control" %>
        </div>
        <div class="form-group col-4">
        <div class="col control-label">
        <%= form.select(:annonce_type, options_for_select(([
            ["Tout type d'annonces", ""],
            ["Achat", "Achat"],
            ["Vente", "Vente"],
            ["Location", "Location"],
            ])),
            {}, {class: "form-control"}) %>

        </div>
        </div>
        
    </div>
    

    <div class="input-group-btn col-md-12 text-center search-btn">
            <%= button_tag "Rechercher", :class => 'btn btn-primary', :name => nil do %>
            <i class="fa fa-search mr-2"></i>
            Rechercher
            <% end %>

    </div>


</div>

<% end %>